$mainRed: #f58873;
$mainYellow: #ffd778;
$lightYellow: #fdf2a3;
$mainLinear: var(--unnamed, linear-gradient(154deg, #f79574 0%, #f58873 100%)); //主題漸層
$lightGrey: #f5f5f5;
$Grey: #d9d9d9;
$DarkGrey: #959595;
