@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import '@/styles/global.scss';
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

.cartTitle {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15% 5% 0 5%;
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
}
.productContainer {
  height: 360px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0px;
  }
}
.productContainerNoInput {
  height: 560px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0px;
  }
}
.productNumber {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: #fff;
}
.productNumberButton {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  width: 47px;
  height: 34px;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}

//商品欄位
.kindsTitle {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid $lightGrey;
  padding-bottom: 10px;
}
.productCol {
  width: 100%;
  border-bottom: 1px solid $lightGrey;
  padding: 5% 10%;
  box-sizing: border-box;
}
.productName {
  font-weight: 600;
}
.productIntro {
  color: $DarkGrey;

  font-size: 16px;
}
.customizationItem {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  height: 23px;
  border: 0.5px $DarkGrey solid;
  border-radius: 20px;
  color: $DarkGrey;
  padding: 0 5px;
  white-space: nowrap;
  font-size: 12px;
}
.buttonFixed {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.cartTotalSquare {
  height: 65px;
  background: $mainYellow;
  padding: 0 8%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.buttonGruop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
  & > button {
    width: 160px;
    height: 60px;
    letter-spacing: 1.6px;
    font-size: 16px;
  }
}
.orderContinueButton {
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #959595;
  background: transparent;
  font-weight: 500;
}
.submitButton {
  cursor: pointer;
  border: 0px;
  border-radius: 10px;
  background: $mainLinear;
  color: #fff;
  font-weight: 700;
}
//外帶填寫資料
.inputSquare {
  margin: 0 8%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.inputGroup {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputTitle {
  color: #000;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.inputText {
  border-radius: 10px;
  border: 1px solid var(--unnamed, #959595);
  background: #fff;
  width: 309px;
  height: 45px;
  flex-shrink: 0;
  color: #000;
  display: flex;
  padding: 0.5% 3%;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.errorMessage {
  bottom: 0;
  // position: absolute;
  // z-index: 2;
  display: grid;
  color: red;
  font-family: 'Alkatra', sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
  margin-top: 5px;
  margin-left: 5px;
}
.orderButton {
  cursor: pointer;
  width: 309px;
  height: 53px;
  color: #000;
  font-family: 'Inter';
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 10px;
  background: $mainYellow;
  border: 0px;
}
.orderButtonCancel {
  background: $lightGrey;
  width: 309px;
  height: 53px;
  color: #000;
  font-family: 'Inter';
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 10px;
  border: 0px;
}
.orderButtonRemind {
  color: $DarkGrey;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}
