.layouts {
    margin-top: 5%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 548.6px; /* 844*0.65 */
    width: 253.5px; /*390*0.65*/
    background: white;
}
