@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import '../../styles/global.scss';

.layouts {
  position: relative;
  margin-top: 5%;
  border: 5px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 1024px;
  width: 1366px; 
  background: #F4F5F8;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  &::-webkit-scrollbar {
    width: 0px;
  }
}
