@import '@/styles/global.scss';
.layouts {
  background: #fff;
  width: 80%;
  height: 230px;
  position: relative;
  display: flex;
  z-index: 50;
  border-radius: 20px;
  filter: drop-shadow(2px 3px 20px rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.title {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.context {
  color: var(--unnamed, #959595);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.OKbutton {
  color: #fff;
  background: $mainLinear;
  border-radius: 10px;
  width: 80px;
  height: 25px;
  border: 0px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 700;
}
.buttonGroup {
  display: flex;
  flex-direction: row;
  gap: 20px;
  > button {
    border: 0px;
    border-radius: 10px;
    width: 80px;
    height: 25px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 700;
    border-color: 1px solid #f58873;
  }
}
.buttonYes {
  border: 1px solid #f58873;
  color: #f58873;
  background: transparent;
}
.buttonNo {
  border: 0px;
  color: $DarkGrey;
  background: transparent;
  border: 1px solid $DarkGrey;
}
